# Running container name, e.g. running_substructure (optional)
NAME=
# Container tag, e.g. glyomics/substructure
IMAGE=glyomics/substructure
# Port to listen to, e.g. 10980
PORT=10985
# Max. number of workers to service requests, e.g. 3
WORKERS=3
# Extra arguments for docker run (to set environment variables etc.)
EXTRA_ARGS=""
